[tool.poetry]
name = "cognite-power-ops"
version = "0.25.3"
description = "SDK for power markets operations on Cognite Data Fusion"
readme = "README.md"
authors = ["Cognite <support@cognite.com>"]
license = "Apache 2.0"
documentation = "https://cognite-power-ops-sdk.readthedocs-hosted.com/en/latest/"
homepage = "https://cognite-power-ops-sdk.readthedocs-hosted.com/en/latest/"
repository = "https://github.com/cognitedata/power-ops-sdk"
packages = [{include = "cognite", from = "."}]

[tool.black]
line-length = 120
target_version = ['py39']
include = '\.py$'

[tool.isort]
line_length=120                # corresponds to -w  flag
multi_line_output=3            # corresponds to -m  flag
include_trailing_comma=true    # corresponds to -tc flag
skip_glob = '^((?!py$).)*$'    # this makes sort all Python files

[tool.ruff]
line-length = 120
target-version = 'py39'

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]  # unused import

[tool.poetry.dependencies]
python = "^3.9"
typer = "^0.9.0"
PyYAML = "^6.0"
cognite-sdk = {version = ">= 5.0.0, < 7.0", extras = ["pandas"]}
pydantic = "^2.0"
pydantic-settings = "^2.0"
cachelib = "^0.10.2"
loguru = "^0.7.0"
deepdiff = "^6.3.0"
matplotlib = "^3.7.1"
dacite = "^1.8.1"
python-dotenv = "^1.0.0"
arrow = "^1.2.0"
tomli = {version = "^2.0.1", python = "<3.11"}
tomli-w = "^1.0.0"

mkdocs =  {version="*", optional=true}
mkdocs-jupyter = {version="*", optional=true}
mkdocs-material = {version="*", optional=true}
mkdocs-material-extensions = {version="*", optional=true}
mkdocs-git-revision-date-localized-plugin = {version="*", optional=true}
mkdocs-git-authors-plugin = {version="*", optional=true}
mkdocs-gitbook = {version="*", optional=true}
mkdocs-glightbox = {version="*", optional=true}
pymdown-extensions = {version="*", optional=true}
mkdocstrings = {version="*", optional=true, extras=["python"]}

[tool.poetry.extras]
docs = ["mkdocs", "mkdocs-jupyter", "mkdocs-material", "mkdocs-material-extensions", "mkdocs-git-revision-date-localized-plugin",
    "mkdocs-git-authors-plugin", "mkdocs-gitbook", "mkdocs-glightbox", "pymdown-extensions", "mkdocstrings"]

[tool.poetry.scripts]
powerops = "cognite.powerops.cli:main"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.2.2"
profilehooks = "^1.12.0"
pytest = "^7.3.1"
pytest-cov = "^4.0.0"
pytest-mock = "^3.10.0"
pytest-regressions = "^2.4.2"
ipykernel="6.24.0"
twine = "^4.0.2"
jupyter = "^1.0.0"
cognite-pygen = {version = "^0.11.3", extras = ["cli"]}

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = "--doctest-modules --ignore-glob=examples/* --ignore-glob=cognite/powerops/preprocessor/test_data/otta_base.py"
