space: '{{powerops_models}}'
externalId: BidConfiguration
name: BidConfiguration
description: ''
filter:
  and:
  - hasData:
    - type: container
      space: '{{powerops_models}}'
      externalId: BidConfiguration
    - type: container
      space: '{{powerops_models}}'
      externalId: FunctionData
  - equals:
      property:
      - node
      - space
      value: '{{powerops_instance_space}}'
  - equals:
      property:
      - node
      - type
      value:
        externalId: BidConfiguration
        space: '{{powerops_type_space}}'
implements: []
version: '{{version}}'
properties:
  marketConfiguration:
    container:
      space: '{{powerops_models}}'
      externalId: FunctionData
      type: container
    containerPropertyIdentifier: direct2
    name: marketConfiguration
    description: The bid method related to the bid configuration
    source:
      space: '{{powerops_models}}'
      externalId: MarketConfiguration
      version: '{{version}}'
      type: view
